@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.html, body {
    background-image: url('assets/images/meetings-bg.jpg');
  
    scroll-behavior: smooth;
    background-repeat: repeat;
    background-size: auto;
    position: static;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}


* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0px;
    left: 0px;
}

.main-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .content .image {
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
    }

        .content .image img {
            z-index: 111;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

    .content .text-box {
        z-index: 222;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        padding: 40px;
        max-width: 400px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        transform: translate(-80px, 50px);
    }

        .content .text-box h3 {
            font-size: 2em;
            margin-bottom: 10px;
        }

.media-icons {
    margin-top: 100px;
}

    .media-icons a {
        color: #fff;
        font-size: 2em;
        margin: 60px;
    }

.section-title {
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}

.media-info {
    width: 400px;
    margin-left: 50px;
}

    .media-info li {
        list-style: none;
        font-size: 1.4em;
    }

        .media-info li a {
            color: #fff;
            text-decoration: none;
        }

        .media-info li:not(:last-child) {
            margin-bottom: 50px;
        }

        .media-info li:nth-child(1), .media-info li:nth-child(5) {
            padding-left: 100px;
        }

        .media-info li:nth-child(2), .media-info li:nth-child(4) {
            padding-left: 50px;
        }

.sec-03 {
    margin-bottom: 100px;
}

header {
    z-index: 999;
    position: absolute;
    top: 9px;
    left: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    height: 115px;
}

    header .brand {
        color: #f9004d;
        font-size: 2.5em;
        font-weight: 900;
        text-decoration: none;
    }

    header .navigation {
        position: relative;
        top: -5px;
        left: -21px;
        height: 49px;
    }

        header .navigation .navigation-items a {
            position: relative;
            color: #fff;
            font-size: 1em;
            font-weight: 700;
            text-decoration: none;
            margin-left: 30px;
            transition: 0.3s ease;
        }

            header .navigation .navigation-items a:before {
                content: '';
                position: absolute;
                background: #fff;
                width: 0;
                height: 3px;
                bottom: -2px;
                left: 0;
                transition: 0.3s ease;
            }

            header .navigation .navigation-items a:hover:before {
                width: 100%;
            }

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

    .home:before {
        z-index: 777;
        content: '';
        position: absolute;
        background: rgba(3, 96, 251, 0.3);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .home .content {
        z-index: 888;
        color: #fff;
        width: 70%;
        margin-top: 50px;
        display: none;
    }

        .home .content.active {
            display: block;
        }

        .home .content h1 {
            font-size: 4em;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 75px;
            margin-bottom: 40px;
        }

            .home .content h1 span {
                font-size: 1.2em;
                font-weight: 600;
            }

        .home .content p {
            margin-bottom: 65px;
        }

        .home .content a {
            background: black;
            padding: 15px 35px;
            color: #1680AC;
            font-size: 1.1em;
            font-weight: 500;
            text-decoration: none;
            border-radius: 2px;
        }

    .home .media-icons {
        z-index: 888;
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }

        .home .media-icons a {
            color: #fff;
            font-size: 1.6em;
            transition: 0.3s ease;
        }

            .home .media-icons a:not(:last-child) {
                margin-bottom: 20px;
            }

            .home .media-icons a:hover {
                transform: scale(1.3);
            }

    .home video {
        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

    .slider-navigation .nav-btn {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        transition: 0.3s ease;
    }

        .slider-navigation .nav-btn.active {
            background: #2696E9;
        }

        .slider-navigation .nav-btn:not(:last-child) {
            margin-right: 20px;
        }

        .slider-navigation .nav-btn:hover {
            transform: scale(1.2);
        }

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

    .video-slide.active {
        clip-path: circle(150% at 0 50%);
        transition: 2s ease;
        transition-property: clip-path;
    }

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

        header .navigation.active {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(1, 1, 1, 0.5);
        }

        header .navigation .navigation-items a {
            color: #222;
            font-size: 1.2em;
            margin: 20px;
        }

            header .navigation .navigation-items a:before {
                background: #222;
                height: 5px;
            }

        header .navigation.active .navigation-items {
            background: #fff;
            width: 600px;
            max-width: 600px;
            margin: 20px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
        }

    .menu-btn {
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

        .menu-btn.active {
            z-index: 999;
            background: url(close.png)no-repeat;
            background-size: 25px;
            background-position: center;
            transition: 0.3s ease;
        }
}

@media (max-width: 560px) {
    .home .content h1 {
        font-size: 3em;
        line-height: 60px;
    }
}

.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo2 {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }

        nav ul li a:hover {
            color: #f9004d;
            transition: .4s;
        }

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

    .btn:hover {
        transform: scale(1.2);
    }

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}



.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

    .about img {
        height: auto;
        width: 430px;
    }

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

    button:hover {
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }

.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

:root {
    --primary: #0000ff;
    --secondary: #3d3d3d;
    --white: #fff;
}





.bold {
    font-weight: 900;
}

.light {
    font-weight: 100;
}

.wrapper {
    background: var(--white);
    padding: 30px;
}

.invoice_wrapper {
    border: 3px solid var(--primary);
    width: 700px;
    max-width: 100%;
}

    .invoice_wrapper .header .logo_invoice_wrap,
    .invoice_wrapper .header .bill_total_wrap {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    .invoice_wrapper .header .logo_sec {
        display: flex;
        align-items: center;
    }

        .invoice_wrapper .header .logo_sec .title_wrap {
            margin-left: 5px;
        }

            .invoice_wrapper .header .logo_sec .title_wrap .title {
                text-transform: uppercase;
                font-size: 18px;
                color: var(--primary);
            }

            .invoice_wrapper .header .logo_sec .title_wrap .sub_title {
                font-size: 12px;
            }

    .invoice_wrapper .header .invoice_sec,
    .invoice_wrapper .header .bill_total_wrap .total_wrap {
        text-align: right;
    }

        .invoice_wrapper .header .invoice_sec .invoice {
            font-size: 28px;
            color: var(--primary);
        }

        .invoice_wrapper .header .invoice_sec .invoice_no,
        .invoice_wrapper .header .invoice_sec .date {
            display: flex;
            width: 100%;
        }

            .invoice_wrapper .header .invoice_sec .invoice_no span:first-child,
            .invoice_wrapper .header .invoice_sec .date span:first-child {
                width: 70px;
                text-align: left;
            }

            .invoice_wrapper .header .invoice_sec .invoice_no span:last-child,
            .invoice_wrapper .header .invoice_sec .date span:last-child {
                width: calc(100% - 70px);
            }

        .invoice_wrapper .header .bill_total_wrap .total_wrap .price,
        .invoice_wrapper .header .bill_total_wrap .bill_sec .name {
            color: var(--primary);
            font-size: 20px;
        }

    .invoice_wrapper .body .main_table .table_header {
        background: var(--primary);
    }

        .invoice_wrapper .body .main_table .table_header .row {
            color: var(--white);
            font-size: 18px;
            border-bottom: 0px;
        }

    .invoice_wrapper .body .main_table .row {
        display: flex;
        border-bottom: 1px solid var(--secondary);
    }

        .invoice_wrapper .body .main_table .row .col {
            padding: 10px;
        }

        .invoice_wrapper .body .main_table .row .col_no {
            width: 5%;
        }

        .invoice_wrapper .body .main_table .row .col_des {
            width: 45%;
        }

        .invoice_wrapper .body .main_table .row .col_price {
            width: 20%;
            text-align: center;
        }

        .invoice_wrapper .body .main_table .row .col_qty {
            width: 10%;
            text-align: center;
        }

        .invoice_wrapper .body .main_table .row .col_total {
            width: 20%;
            text-align: right;
        }

    .invoice_wrapper .body .paymethod_grandtotal_wrap {
        display: flex;
        justify-content: space-between;
        padding: 5px 0 30px;
        align-items: flex-end;
    }

        .invoice_wrapper .body .paymethod_grandtotal_wrap .paymethod_sec {
            padding-left: 30px;
        }

        .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec {
            width: 30%;
        }

            .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p {
                display: flex;
                width: 100%;
                padding-bottom: 5px;
            }

                .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span {
                    padding: 0 10px;
                }

                    .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:first-child {
                        width: 60%;
                    }

                    .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:last-child {
                        width: 40%;
                        text-align: right;
                    }

                .invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p:last-child span {
                    background: var(--primary);
                    padding: 10px;
                    color: #fff;
                }

    .invoice_wrapper .footer {
        padding: 30px;
    }

        .invoice_wrapper .footer > p {
            color: var(--primary);
            text-decoration: underline;
            font-size: 18px;
            padding-bottom: 5px;
        }

        .invoice_wrapper .footer .terms .tc {
            font-size: 16px
        }
.contact-us {
    width: 661px;
    background: #fff;
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
    position: relative;
    top: 0px;
    left: -102px;
}

.title h1 {
    color: #535274;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form,
.form-items {
    width: 100%;
}

    .form-items .input {
        width: 100%;
        margin-bottom: 12px;
        padding: 15px 40px;
        box-sizing: border-box;
        background: #ebeef1;
        border: 0px;
        outline: none;
        border-radius: 30px;
    }

        .form-items .input.message {
            height: 125px;
            border-radius: 15px;
            margin-bottom: 30px;
            padding: 15px 15px;
            resize: none;
        }



    .btn .fas {
        margin-left: 10px;
        font-size: 12px;
    }

.form-items {
    position: relative;
}

    .form-items .fas {
        position: absolute;
        top: 15px;
        left: 15px;
        color: #9a99aa;
    }

.social-icons {
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    height: 129px;
}

    .social-icons div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }


        .social-icons div .fab {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
        }

        .social-icons div.facebook {
            background: #5178d9;
        }

        .social-icons div.twitter {
            background: #41caf6;
        }

        .social-icons div.google {
            background: #fb4f4f;
        }
.cont {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.title {
    position: absolute;
    left: -29%;
    top: -130%;
    transform: translate(-50%,-50%);
    z-index: -1;
    color: #ECEFF1;
    font-size: 120px;
    font-weight: 600;
}

.title-large {
    height: 130px;
    margin-left: -5px;
    opacity: 0.1;
}

.img-container {
    display: inline-block;
    overflow: hidden;
    margin-left: -2.8px;
    margin-right: -2.8px;
    width: 170px;
    vertical-align: top;
    border-radius: 0px 0px 80px 80px;
    animation-name: flow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
    transition-timing-function: cubic-bezier(0,.57,1,.46);
    box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.5);
}

.second-animation {
    animation-delay: -1.5s;
}

.third-animation {
    animation-delay: -1s;
}

.fourth-animation {
    animation-delay: -0.5s;
}

.fifth-animation {
    animation-delay: 0s;
}

.sixth-animation {
    animation-delay: 0.5s;
}

.seventh-animation {
    animation-delay: 1s;
}

.img {
    object-fit: cover;
    width: 170px;
    height: 100vh;
    margin-top: -60px;
}

.nba {
    margin-top: -20px;
}

@keyframes flow {
    0% {
        height: 20%;
        border-radius: 0px 0px 30px 30px;
    }

    50% {
        height: 90%;
        border-radius: 0px 0px 100px 100px;
    }

    100% {
        height: 20%;
        border-radius: 0px 0px 30px 30px;
    }
}

@media only screen and (max-width: 1200px) {
    #img-7 {
        display: none;
    }
}

@media only screen and (max-width: 1028px) {
    #img-1 {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    #img-6 {
        display: none;
    }
}